<form class=" flex justify-center my-6">
   <div class=" space-y-10">
     <!-- first Name -->
    <div class="space-x-4">
        <label for="firstName">First Name</label>
        <input type="text" class="border" >
    </div>

    <!-- Last Name -->
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" class="border" >
    </div>

    <!-- Email -->
    <div>
        <label for="email"> Your Email</label>
        <input type="email" class="border" >
    </div>

    <!-- Password -->

    <div>
        <label for="pass"> Your Password</label>
        <input type="password" class="border" >
    </div>

    <!-- isChecked -->

    <div>
      
        <input type="checkbox" class="border" >  <label for="checkbox">i Agree</label>
    </div>

    <!-- Submit Button -->
     <button class="px-6 py-3 bg-green-600 text-white hover:bg-green-400 cursor-pointer rounded-xl">Submit</button>
   </div>
</form>
