<div class="h-auto w-full border my-10 px-10 bg-slate-200">
  <div>
    <div class="flex p-5">
      <input type="checkbox" (click)="onClick()" />
      <p>i agree {{ isChecked }}</p>
    </div>
    <div *ngIf="isChecked">
      @if(isChecked){
      <button class="h-14 w-24 bg-blue-600 text-white p-4 rounded-2xl">
        Submit
      </button>
      }
      <!--<button class="h-14 w-24 bg-blue-600 text-white p-4 rounded-2xl">
        Submit
      </button> -->
    </div>
  </div>
</div>

<!-- second example -->

<div>
  <h1 class="text-2xl font-bold mx-28">Second Example</h1>
  @if(isDivShow){
    <div class="bg-blue-500 rounded-full h-40 w-40 mx-15 my-10"></div>
  }
  <div class="parent flex">
    <button (click)="onShow()" class="bg-red-500  h-12 w-24 rounded-xl m-5">
Show
   </button>
  <button (click)="onHide()"  class="bg-green-500  h-12 w-24 rounded-xl m-5">
    Hide
  </button>

    
  </div>
</div>


<!-- Example 3 @if -->

<div class="bg-slate-100 border h-auto w-full">
  <div class="flex m-10 space-y-4 flex-col">
    <input [(ngModel)]="firstInput" type="text" class="border bg-slate-300 h-14 w-52 rounded-xl px-2">
    <input [(ngModel)]="secondInput" type="text" class="border bg-slate-300 h-14 w-52 rounded-xl px-2 ">
  </div>
  <div>
    @if(firstInput === secondInput){
      <p class="text-blue-500">Both Values are same</p>
    }@else{
       <p class="text-red-500">Both Values are not same</p>
    }
  </div>
</div>


<!-- Example 4 -->

<div class="bg-slate-100 border h-auto w-full">
  <div class="flex m-10 space-y-4 flex-col">
    <input [(ngModel)]="input1" type="text" class="border bg-slate-300 h-14 w-52 rounded-xl px-2">
    <input [(ngModel)]="input2" type="text" class="border bg-slate-300 h-14 w-52 rounded-xl px-2 ">
  </div>
  <div>
   <p class="text-blue-500" *ngIf="input1 === input2">
    Both are same
   </p>
   <p class="text-red-500" *ngIf="input1 !== input2">
    Both are not same
   </p>
  </div>
</div>
