<div class="bg-slate-300 border-2 py-8 px-4 ">

    <!-- Uppercase -->
    <div class="bg-red-100 py-4 flex justify-center">
        <h3>1. Topic : {{title | uppercase}}</h3>
    </div>

    <!-- lowercase -->
     <div class="bg-red-200 py-4 flex justify-center">
        <h3>2. Topic : {{title | lowercase}}</h3>
    </div>

    <!-- TitleCase -->
      <div class="bg-red-400 py-4 flex justify-center">
        <h3>3. Topic : {{title | titlecase}}</h3>
    </div>

    <!-- Date -->
      <div class="bg-red-500 py-4 flex justify-center">
        <h3>4. Date : {{date | date: 'dd/mm/yyyy'}}</h3>
    </div>
    <!-- Date -->
      <div class="bg-red-500 py-4 flex justify-center">
        <h3>4. Date : {{date | date: 'short'}}</h3>
    </div>
    <!-- Date -->
      <div class="bg-red-500 py-4 flex justify-center">
        <h3>4. Date : {{date |  date: 'medium'}}</h3>
    </div>
    <!-- Date -->
      <div class="bg-red-500 py-4 flex justify-center">
        <h3>4. Date : {{date |  date: 'long'}}</h3>
    </div>
    <!-- Date -->
    <div class="bg-red-500 py-4 flex justify-center">
        <h3>4. Date : {{date |  date: 'fulldate'}}</h3>
    </div>

    <!-- json pipe -->

    
</div>
