<!-- <app-data-binding></app-data-binding> -->
 <!-- <app-directives></app-directives> -->
  <!-- <app-control-flow></app-control-flow> -->
   <!-- <app-ng-for></app-ng-for> -->
   <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-attribute-directives></app-attribute-directives> -->
   <!-- <app-signals></app-signals> -->
    <!-- <app-build-in-pipes></app-build-in-pipes> -->
    <!-- <app-template-form></app-template-form> -->
    <app-reactive-form></app-reactive-form>
<router-outlet></router-outlet>