<!-- using *ngSwitch -->
<div class="bg-pink-100 py-10 ">
  <div class="py-2  flex justify-center space-x-4">
    <button (click)="set(1)" class="h-12 px-4 text-white py-2 rounded-xl border bg-green-400 border-black">Grade 1</button>
    <button (click)="set(2)" class="h-12 px-4 text-white py-2 rounded-xl border  bg-blue-400 border-black">Grade 2</button>

    <button  (click)="set(3)" class="h-12 px-4 text-white py-2 rounded-xl border bg-red-400 border-black">Grade 3</button>
  </div>
  <div [ngSwitch]="grade">
   <p *ngSwitchCase="1">Outstanding Performance, Congrats</p>
   <p *ngSwitchCase="2">Best Performance, Congrats</p>
   <p *ngSwitchCase="3">Good Performance, Congrats</p>
  </div>
</div>

<!-- Using @switch -->
